:root {
    --primary-color: #2c3e50; /* Dark blue */
    --secondary-color: #ecf0f1; /* Light grey */
    --accent-color: #e74c3c; /* Red */
    --background-color: #ffffff; /* White background for overall cleaner look */
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: var(--primary-color);
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(231, 76, 60, 0.05); /* Light red background for heading */
}

.heading span {
    color: var(--accent-color);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--accent-color);
}

.header, .footer, .navbar a, .btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header .logo span, .navbar a:hover, .btn:hover, .footer a:hover {
    color: var(--accent-color);
}

.icons a {
    color: var(--secondary-color);
}

.video-container h3, .content h3, .heading span {
    color: var(--accent-color);
}

.box-container .box .content h3, .box-container .box .price span {
    color: var(--accent-color);
}

.box-container .box .icons a, .box-container .box .icons .cart-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.box-container .box .icons .cart-btn:hover {
    background-color: var(--accent-color);
}
